<div class="modal fade" id="cteModal" tabindex="-1" aria-labelledby="cteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cteModalLabel">Dados do CT-e</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Detalhes do CT-e -->
          <div class="mb-3">
            <strong>Transportadora:</strong> {{ cteData.transportadora }}
          </div>
          <div class="mb-3">
            <strong>Site:</strong> {{ cteData.site }}
          </div>
          <div class="mb-3">
            <strong>NFe:</strong> {{ cteData.nFe }}
          </div>
          <div class="mb-3">
            <strong>CTe:</strong> {{ cteData.cTe }}
          </div>
          <div class="mb-3">
            <strong>Valor:</strong> {{ cteData.valor | currency:'BRL' :'symbol':'1.2-2':'pt-BR'}}
          </div>
          <div class="mb-3">
            <strong>Data de Importação:</strong> {{ cteData.dataImportacao | date:'dd/MM/yyyy' }}
          </div>
          <div class="mb-3">
            <strong>Ordem de Compra:</strong> {{ cteData.ordemCompra }}
          </div>
          <div class="mb-3">
            <strong>Status:</strong> {{ cteData.status }}
          </div>
          
          <!-- Tabela de validações -->
          <div class="mt-4" *ngIf="validacoes?.length">
            <h6>Validações</h6>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Mensagem</th>
                  <th scope="col">Tipo de Mensagem</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let validacao of validacoes">
                  <td>{{ validacao.mensagem }}</td>
                  <td>{{ validacao.tipoMensagem }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  