<div class="table-responsive">
    <table class="table">
        <thead>
            <th>Transportadora</th>
            <th>Site</th>
            <th>NFe</th>
            <th>CTe</th>
            <th>Valor</th>
            <th>Data Importação</th>
            <th>Ordem de Compra</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <td>Braspress</td>
                <td>1703</td>
                <td>53701</td>
                <td>1234568</td>
                <td>19,90</td>
                <td>27/12/2022</td>
                <td>OC123456</td>
                <td>OK</td>
            </tr>
            <tr>
                <td>Braspress</td>
                <td>1703</td>
                <td>53701</td>
                <td>1234568</td>
                <td>19,90</td>
                <td>27/12/2022</td>
                <td>OC123456</td>
                <td>OK</td>
            </tr>
            <tr>
                <td>Braspress</td>
                <td>1703</td>
                <td>53701</td>
                <td>1234568</td>
                <td>19,90</td>
                <td>27/12/2022</td>
                <td>OC123456</td>
                <td class="badge text-bg-success">OK</td>
            </tr>
        </tbody>
    </table>
</div>