<div class="">
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th> 
                    <div class="row">
                        <div class="col"> <input type="checkbox" name="" id="" class="form-check-input"/> </div>
                    </div>
                </th>
                <th>
                    <div class="row">
                        <div class="col">Transportadora</div>
                    </div>
                    <div class="row">
                        <div class="col"><input type="search" name="" id="" class="form-control"/></div>
                    </div>
                </th>
                <th>
                    <div class="row">
                        <div class="col">Site</div>
                    </div>
                    <div class="row">
                        <div class="col"><input type="search" name="" id="" class="form-control"/></div>
                    </div>
                </th>
                <th>
                    <div class="row">
                        <div class="col">NFe</div>
                    </div>
                    <div class="row">
                        <div class="col"><input type="search" name="" id="" class="form-control"/></div>
                    </div>
                </th>
                <th>
                    <div class="row">
                        <div class="col">CTe</div>
                    </div>
                    <div class="row">
                        <div class="col"><input type="search" name="" id="" class="form-control"/></div>
                    </div>
                </th>
                <th>
                    <div class="row">
                        <div class="col">Valor</div>
                    </div>
                    <div class="row">
                        <div class="col"><input type="search" name="" id="" class="form-control"/></div>
                    </div>
                </th>
                <th>
                    <div class="row">
                        <div class="col">Data Importação</div>
                    </div>
                    <div class="row">
                        <div class="col"><input type="date" name="" id="" class="form-control"/></div>
                    </div>
                </th>
                <th>
                    <div class="row">
                        <div class="col">Ordem de Compra</div>
                    </div>
                    <div class="row">
                        <div class="col"><input type="search" name="" id="" class="form-control"/></div>
                    </div>
                </th>
                <th>
                    <div class="row">
                        <div class="col">Status</div>
                    </div>
                    <div class="row">
                        <div class="col"><input type="search" name="" id="" class="form-control"/></div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <input type="checkbox" name="" id="" class="form-check-input"/> </td>
                <td>Braspress</td>
                <td>1703</td>
                <td>53701</td>
                <td>1234568</td>
                <td>19,90</td>
                <td>27/12/2022</td>
                <td>OC123456</td>
                <td><span class="badge text-bg-success">Integrado</span></td>
            </tr>
            <tr>
                <td> <input type="checkbox" name="" id="" class="form-check-input"/> </td>
                <td>Braspress</td>
                <td>1703</td>
                <td>53702</td>
                <td>1234568</td>
                <td>19,90</td>
                <td>27/12/2022</td>
                <td>OC123454</td>
                <td><span class="badge text-bg-success">Integrado</span></td>
            </tr>
            <tr>
                <td> <input type="checkbox" name="" id="" class="form-check-input"/> </td>
                <td>TCE</td>
                <td>1702</td>
                <td>53703</td>
                <td>1234568</td>
                <td>19,90</td>
                <td>27/12/2022</td>
                <td>OC123451</td>
                <td><span class="badge text-bg-success">Integrado</span></td>
            </tr>
        </tbody>
    </table>
</div>