<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo-principal.png" alt="" width="130" height="40" class="logo-site d-inline-block align-text-top">
        </a>
        <button *ngIf="estaAutenticado()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="estaAutenticado()" class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link opcao-menu" (click)="abrirPaginaReservarCota()">Reservar Cota</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link opcao-menu" (click)="abrirPaginaTransferirCota()">Transferir Cota</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link opcao-menu">Simulador</a>
                </li>
            </ul>
            <span *ngIf="estaAutenticado()" class="navbar-text nav-item dropdown">
                <a class="nav-link dropdown-toggle opcao-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opções
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item opcao-menu" (click)="abrirPaginaTrocaSenha()">Trocar senha</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item opcao-menu" (click)="desautenticar()">Sair</a>
                </div>
            </span>
        </div>
    </div>
</nav>